.add {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1;
    @include media(tablet-s-only) {
        width: 100%;
    }
    &__form {
        margin: 100px 0 20px 0;
        height: 530px;
        width: 95%;
        max-width: 650px;
        position: relative;
        background-color: $color-terciario;
        padding: 30px;
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
        border-radius: 20px;
        @include media(desktop-xl) {
            max-width: 750px;
        }
        @include media(desktop-s-only) {
            max-width: 550px;
        }
        @include media(mobile-only) {
            max-width: 400px;
            margin: 60px 0;
        }
        &--title {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            color: black;
        }
    }
    .form__add--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .add__input {
            width: 82%;
            height: 40px;
            display: flex;
            margin-bottom: 30px;
            justify-content: start;
            border: solid 1px black;
            position: relative;
            padding: 0 15px 0 15px;
            @include media(mobile-only) {
                width: 95%;
            }
            input {
                width: 100%;
                border: none;
                font-size: 1.7rem;
                font-weight: 300;
                color: black;
                outline: none;
                font-family: 'Nunito', sans-serif;
                background-color: transparent;
            }
            span {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 10%;
                bottom: 10px;
            }
            .input__option {
                width: 100%;
                background-color: transparent;
                border: none;
                font-size: 1.7rem;
                font-weight: 300;
                font-family: 'Nunito', sans-serif;
                outline: none;
            }
        }
        .date {
            width: 100%;
        }
        .input__file {
            padding: 0;
        }
    }
}

.submit__add {
    z-index: -1;
}
.submit__:hover {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.30);
}


input[type=file]::file-selector-button {
    background-color: $color-terciario;
    color: #000;
    border: 0px;
    cursor: pointer;
    border-right: 1px solid black;
    padding: 10px 15px;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    margin-right: 20px;
    transition: .5s;
}

input[type=file]::file-selector-button:hover {
    background-color: #d2d2d2;
    border: 0px;
    border-right: 1px solid black;
}
