.header__login {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--return {
        width: 50px;
        position: absolute;
        left: 5%;
        top: 80px;
        @include media(mobile-only) {
            width: 45px;
            left: 3%;
        }
    }
    &--logo {
        width: 380px;
        min-width: 100px;
        @include media(mobile-only) {
            width: 250px;
        }
    }
}

.main__login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .form__login {
        position: relative;
        width: 90%;
        max-width: 500px;
        height: auto;
        background-color: $color-terciario;
        padding: 30px;
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
        border-radius: 20px;
        &--buttons {
            width: 100%;
            display: flex;
            justify-content: space-around;
            button {
                width: 45%;
                max-width: 170px;
                height: 45px;
                background-color: $color-secundario;
                border: none;
                cursor: pointer;
                color: white;
                font-size: 1.7rem;
                box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.62);
                border-radius: 15px;
                font-family: 'Nunito', sans-serif;
                transition: 0.2s;
            }
            button:hover {
                box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.62);
            }
        }
        &--form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form {
                width: 100%;
                height: auto;
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .form__input {
                width: 82%;
                height: 40px;
                display: flex;
                margin-bottom: 30px;
                justify-content: start;
                border-bottom: solid 1.5px black;
                position: relative;
                input {
                    width: 85%;
                    max-width: 350px;
                    padding: 0 15px 4px 15px;
                    border: none;
                    font-size: 1.7rem;
                    color: black;
                    outline: none;
                    font-family: 'Nunito', sans-serif;
                    background-color: transparent;
                }
                span {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    right: 10%;
                    bottom: 10px;
                }
                &--img {
                    background: url(../img/user.png);
                    background-size:25px 25px;
                    background-position:center;
                }
                &--show {
                    background: url(../img/show.png);
                    background-size:25px 25px;
                    background-position:center;
                }
            }
            .disabled {
                display: none;
            }
        }
    }
}

#login {
    background-color: #0759E6;
}

::placeholder {
    font-size: 1.7rem;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.submit {
    --widthA: 70%;
    background-color: $color-cuarto;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 20px;
    width: 70%;
    height: 65px;
    color: black;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Nunito', sans-serif;
    border: none;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
    bottom: -45px;
    left: calc(50% - (var(--widthA)/2));
    transition: 0.2s;
}
.submit:hover {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.30);
}

.form__error {
    display: none;
    width: 90%;
    max-width: 200px;
    padding: 8px 0;
    height: auto;
    border-radius: 10px;
    background-color: #e83845;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        margin: 0;
        color: white;
        font-size: 1.7rem;
    }
}   




input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $color-terciario inset;
    font-family: "Lato", sans-serif;
    font-size: 1.7rem;
}