.main__media {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    .classify {
        width: 25%;
        max-width: 380px;
        min-width: 290px;
        height: auto;
        display: flex;
        //justify-content: center;
        align-items:flex-start;
        @include media(tablet-s-only) {
            display: none;
        }
        .filter {
            width: 95%;
            min-width: 290px;
            height: auto;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            &__title {
                color: black;
                font-size: 2.5rem;
                font-weight: 600;
                margin: 15px auto;
            }
            hr {
                width: 85%;
                margin-top: 15px;
            }
            &__category {
                hr {
                    width: 100%;
                }
                width: 75%;
                display: flex;
                flex-direction: column;
                &--title {
                    color: black;
                    font-size: 2.2rem;
                    font-weight: 600;
                    justify-self: start;
                    margin: 15px 0 10px 0;
                }
                .category {
                    width: 90%;
                    height: auto;
                    align-self: center;
                    &__option {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 9px;
                        input {
                            justify-self: flex-start;
                            width: 15px;
                            height: 18px;
                        }
                        input[type="radio"] {
                            appearance: none;
                            width: 15px;
                            height: 15px;
                            background-color: $color-primario;
                            margin: 0;
                            font: inherit;
                            color: black;
                            border: 1px solid rgb(116, 116, 116);
                            border-radius: 4px;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }
                        input[type="radio"]::before {
                            content: "";
                            width: 11px;
                            height: 11px;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                            box-shadow: inset 11px 11px $color-secundario;
                            border-radius: 3px;
                        }
                        input[type="radio"]:checked::before {
                            transform: scale(1);
                        }
                        label {
                            width: 70%;
                            color: black;
                            font-size: 1.5rem;
                            margin-left: 3%;
                            line-height: 15px;
                        }
                        span {
                            color: black;
                            margin-left: auto;
                            font-size: 1.2rem;
                            width: 26px;
                            height: 18px;
                            border: 1.5px solid rgb(59, 59, 59);
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                        }
                    }
                }
            }
        }
    }
    .hide {
        display: none;
    }
    .gallery {
        width: 75%;
        height: auto;
        @include media(tablet-s-only) {
            width: 100%;
        }
    }
    .media {
        margin: 20px auto;
        height: auto;
        column-count: 4;
        column-gap: 15px;
        width: 95%;
        max-width: 1400px;
        @include media(desktop-xl) {
            column-count: 5;
            max-width: 1600px;
        }
        @include media(desktop-s-only) {
            column-count: 3;
            max-width: 800px;
        }
        @include media(mobile-only) {
            column-count: 2;
            max-width: 600px;
        }
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.50);
            background-color: rgb(0, 0, 0);
            transition: 0.2s;
            img {
                width: 100%;
                transition: 0.2s;
            }
            video {
                width: 100%;
                transition: 0.2s;
            }
            &--button {
                position: absolute;
                right: 20px;
                top: 20px;
                .download {
                    width: 40px;
                    height: 40px;
                    background-color: $color-secundario;
                    display: none;
                    border-radius: 10px;
                    transition: 0.2s;
                    &__img {
                        width: 18px;
                        height: 18px;
                        background: url(../img/download.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
                .download:hover {
                    background-color: #0759E6;
                }
            }
            .favourite {
                width: 25px;
                height: 25px;
                position: absolute;
                display: none;
                left: 35px;
                top: 29px;
                //background: url(../img/starWhite.png);
                background-size: 25px 25px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &__img:hover img {
            opacity: 0.4;
            cursor: zoom-in;
        }
        &__img:hover video {
            opacity: 0.4;
            cursor: zoom-in;
        }
        &__img:hover {
            box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.50);
        }
        &__img:hover .download{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img:hover .favourite{
            display: flex;
        }
    }
}

.filter__button {
    width: 50%;
    max-width: 150px;
    padding: 0 25px;
    height: 50px;
    background-color: $color-secundario;
    color: white;
    border-radius: 25px;
    border: none;
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.50);
    display: none;
    justify-content:space-evenly;
    align-items: center;
    @include media(tablet-s-only) {
        display: flex;
    }
    &--img {
        background: url(../img/filter.png);
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
    }
    &--text {
        font-family: 'Nunito', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
    }
}

.title__small {
    @include media(desktop-s-only) {
        font-size: 2.4rem;
    }
}


.filter__responsive {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    background-color: $color-secundario;
    //z-index: 1;
    display: none;
    &__header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .filter__close {
        background: url(../img/returnWhite.png);
        background-position:center;
        background-size: 40px 40px;
        margin-top: 50px;
        margin-left: 30px;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        @include media(mobile-only) {
            display: block;
        }
    }
    .classify {
        width: 100%;
        max-width: 380px;
        min-width: 290px;
        margin: 0 auto;
        height: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .filter {
            width: 95%;
            margin: 0 auto;
            min-width: 290px;
            height: auto;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title {
                color: white;
                font-size: 2.5rem;
                font-weight: 600;
                margin: 15px auto;
            }
            hr {
                width: 85%;
                margin-top: 15px;
            }
            &__category {
                width: 75%;
                display: flex;
                flex-direction: column;
                &--title {
                    color: white;
                    font-size: 2.2rem;
                    font-weight: 600;
                    justify-self: start;
                    margin: 15px 0 10px 0;
                }
                .category {
                    width: 90%;
                    height: auto;
                    align-self: center;
                    &__option {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 9px;
                        input {
                            justify-self: flex-start;
                            width: 15px;
                            height: 18px;
                        }
                        input[type="radio"] {
                            appearance: none;
                            width: 15px;
                            height: 15px;
                            background-color: $color-secundario;
                            margin: 0;
                            font: inherit;
                            color: rgb(134, 134, 134);
                            border: 1px solid rgb(255, 255, 255);
                            border-radius: 4px;
                            transform: translateY(-0.075em);
                            display: grid;
                            place-content: center;
                        }
                        input[type="radio"]::before {
                            content: "";
                            width: 11px;
                            height: 11px;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                            box-shadow: inset 11px 11px rgb(255, 255, 255);
                            border-radius: 3px;
                        }
                        input[type="radio"]:checked::before {
                            transform: scale(1);
                        }
                        label {
                            width: 70%;
                            color: white;
                            font-size: 1.5rem;
                            margin-left: 3%;
                            line-height: 15px;
                        }
                        span {
                            color: white;
                            margin-left: auto;
                            font-size: 1.2rem;
                            width: 26px;
                            height: 18px;
                            border: 1.5px solid rgb(221, 221, 221);
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                        }
                    }
                }
            }
        }

    }
}

.modal__section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.3s;
}
.modal {
    width: 60%;
    max-width: 900px;
    height: auto;
    padding: 20px 50px;
    background-color: $color-terciario;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    @include media(mobile-only) {
        width: 75%;
        padding: 20px 40px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--title {
            color: black;
            font-size: 2rem;
            font-weight: bold;
        }
        &--img {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background: url(../img/x.png);
            background-position: center;
            background-size: 20px 20px;
            background-repeat: no-repeat;
        }
    }
    &__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        &--img {
            width: 50%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media(desktop-s-only) {
                width: 60%;
                margin-bottom: 25px;
            }
            @include media(mobile-only) {
                width: 100%;
                margin: 10px 0 25px 0;
            }
            img {
                width: 90%;
                border-radius: 10px;
            }
            video {
                width: 90%;
                border-radius: 10px;
            }
        }
        &--info {
            width: 50%;
            height: auto;
            color: black;
            display: flex;
            padding: 0 5%;
            flex-direction: column;
            justify-content: center;
            @include media(desktop-s-only) {
                align-items: center;
                width: 90%;
            }
            @include media(mobile-only) {
                align-items: center;
                width: 100%;
            }
            .content__details {
                font-size: 2rem;
                font-weight: 600;
                margin: 0 0 20px 0;
            }
            .content__description {
                font-size: 1.6rem;
                font-weight: 400;
                margin: 0 0 20px 0;
                @include media(desktop-s-only) {
                    text-align: center;
                }
                @include media(mobile-only) {
                    text-align: center;
                }
            }
            .content__date {
                font-size: 1.6rem;
                font-weight: 400;
                margin: 0 0 40px 0;
                @include media(desktop-s-only) {
                    text-align: center;
                }
                @include media(mobile-only) {
                    text-align: center;
                }
            }
            .content__buttons {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-evenly;
            }
            .content__download {
                width: 130px;
                height: 45px;
                background-color: $color-secundario;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.2s;
                border: none;
                box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.50);
                color: white;
                align-self: center;
                font-family: 'Nunito', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
            }
            .content__edit {
                width: 30px;
                height: 30px;
                cursor: pointer;
                align-self: center;
                border: none;
                background: url(../img/edit.png);
                background-size: 30px 30px;
                background-position: center;
            }
            .content__download:hover {
                background-color: #0759E6;
            }
        }
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.3s;
}

.category__option input[type="radio"]:hover {
    cursor: pointer;
}
.category__option label:hover {
    cursor: pointer;
}

.modify {
    display: none;
    width: 75%;
    height:min-content;
    //display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    @include media(tablet-s-only) {
        width: 100%;
    }
    .close__form {
        width: 20px;
        height: 20px;
        background: url(../img/X.png);
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 30px;
        top: 30px;
        border: none;
        cursor: pointer;
    }
    &__form {
        margin: 100px 0 20px 0;
        height: auto;
        width: 95%;
        max-width: 650px;
        position: relative;
        background-color: $color-terciario;
        padding: 30px;
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
        border-radius: 20px;
        @include media(desktop-xl) {
            max-width: 750px;
        }
        @include media(desktop-s-only) {
            max-width: 550px;
        }
        @include media(mobile-only) {
            max-width: 400px;
            margin: 60px 0;
        }
        &--title {
            text-align: center;
            font-size: 2.4rem;
            font-weight: 500;
            color: black;
        }
    }

    .form__add--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .modify-media-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 50%;
            border-radius: 15px;
            margin-bottom: 10px;
            @include media(mobile-only) {
                width: 70%;
            }
        }
        video {
            width: 50%;
            border-radius: 15px;
            margin-bottom: 10px;
            @include media(mobile-only) {
                width: 70%;
            }
        }
        form {
            width: 100%;
            height: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .add__input {
            width: 82%;
            height: 40px;
            display: flex;
            margin-bottom: 30px;
            justify-content: start;
            align-items: center;
            border: solid 1px black;
            position: relative;
            padding: 0 15px 0 15px;
            @include media(mobile-only) {
                width: 95%;
            }
            input {
                width: 100%;
                border: none;
                font-size: 1.7rem;
                font-weight: 300;
                color: black;
                outline: none;
                font-family: 'Nunito', sans-serif;
                background-color: transparent;
            }
            span {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 10%;
                bottom: 10px;
            }
            .input__option {
                width: 100%;
                background-color: transparent;
                border: none;
                font-size: 1.7rem;
                font-weight: 300;
                font-family: 'Nunito', sans-serif;
                outline: none;
            }
        }
        .date {
            width: 100%;
        }
        .input__file {
            padding: 0;
        }
    }
}

.submit__update {
    --widthA: 40%;
    background-color: $color-secundario;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 20px;
    width: 40%;
    height: 65px;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Nunito', sans-serif;
    border: none;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
    bottom: -45px;
    left: calc(25% - (var(--widthA)/2));
    transition: 0.2s;
}
.submit__update:hover {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.30);
}

.submit__delete {
    --widthA: 40%;
    background-color: #e83845;
    cursor: pointer;
    padding-top: 20px;
    border-radius: 20px;
    width: 40%;
    height: 65px;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Nunito', sans-serif;
    border: none;
    z-index: -1;
    position: absolute;
    box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.22);
    bottom: -45px;
    right: calc(25% - (var(--widthA)/2));
    transition: 0.2s;
}
.submit__delete:hover {
    box-shadow: 0px 0px 20px 15px rgba(0,0,0,0.30);
}

.card {
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.50);
    position: relative;
    transition: 0.3s;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        object-fit: cover;
        opacity: 0.4;
        transition: 0.3s;
    }
    &--text {
        width: 100%;
        font-size: 2.6rem;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        text-align: center;
        @include media(tablet-s-only) {
            font-size: 2rem;
        }
    }
}

.addmedia {
    span {
        @include media(tablet-s-only) {
            font-size: 2rem;
        }
    }
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.3;
}
.card:hover {
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.50);
}


.see__more {
    width: 35%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
    p {
        font-size: 1.5rem;
        font-weight: 600;
        color: #044bb6;
        @include media(tablet-s-only) {
            color: white;
        }
    }
    &--img {
        background: url(../img/down-arrow.png);
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        @include media(tablet-s-only) {
            background: url(../img/down-arrowW.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
