/* Media Queries Mixin
**********************/
* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #F4F4F4;
  font-family: "Nunito", sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.body__mainpage {
  background: url(../img/inicioImagen.png) no-repeat center center fixed;
  background-size: cover;
}

.nav__mainpage {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .nav__mainpage {
    justify-content: space-evenly;
  }
}
.nav__mainpage--img {
  width: 380px;
  min-width: 100px;
  margin-left: 100px;
}
@media only screen and (max-width: 768px) {
  .nav__mainpage--img {
    margin-left: 0;
    width: 270px;
  }
}

.login__mainpage {
  width: 90px;
  height: auto;
  margin: 0 100px 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
}
.login__mainpage:hover {
  box-shadow: 0 -2px 0 white;
}
.login__mainpage--text {
  font-size: 2.5rem;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .login__mainpage {
    display: none;
  }
}
.login__mainpage--button {
  background-image: url(../img/menuWhite.png);
  background-position: center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
@media only screen and (max-width: 768px) {
  .login__mainpage--button {
    display: block;
  }
}

.main__mainpage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main__mainpage--title {
  font-size: 9rem;
  font-weight: bold;
  margin: 0;
  margin-top: 60px;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .main__mainpage--title {
    font-size: 4.5rem;
  }
}
.main__mainpage--text {
  width: 500px;
  font-size: 2.6rem;
  font-weight: 500;
  margin: 0;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .main__mainpage--text {
    width: 80%;
    font-size: 2rem;
  }
}

.footer__mainpage {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 15px;
}
.footer__mainpage--text {
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .footer__mainpage--text {
    font-size: 0.8rem;
  }
}

.options {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #043B9C;
  z-index: 2;
  display: none;
}
.options__header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.options__close {
  background-image: url(../img/xWhite.png);
  background-position: center;
  background-size: 25px 25px;
  margin-right: 10%;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
@media only screen and (max-width: 768px) {
  .options__close {
    display: block;
  }
}
.options__menu {
  width: 100%;
  height: 180px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__login {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__login--return {
  width: 50px;
  position: absolute;
  left: 5%;
  top: 80px;
}
@media only screen and (max-width: 768px) {
  .header__login--return {
    width: 45px;
    left: 3%;
  }
}
.header__login--logo {
  width: 380px;
  min-width: 100px;
}
@media only screen and (max-width: 768px) {
  .header__login--logo {
    width: 250px;
  }
}

.main__login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.main__login .form__login {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: auto;
  background-color: #DFE0DC;
  padding: 30px;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
.main__login .form__login--buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main__login .form__login--buttons button {
  width: 45%;
  max-width: 170px;
  height: 45px;
  background-color: #043B9C;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.62);
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  transition: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main__login .form__login--buttons button:hover {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.62);
}
.main__login .form__login--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__login .form__login--form form {
  width: 100%;
  height: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__login .form__login--form .form__input {
  width: 82%;
  height: 40px;
  display: flex;
  margin-bottom: 30px;
  justify-content: start;
  border-bottom: solid 1.5px black;
  position: relative;
}
.main__login .form__login--form .form__input input {
  width: 85%;
  max-width: 350px;
  padding: 0 15px 4px 15px;
  border: none;
  font-size: 1.7rem;
  color: black;
  outline: none;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
}
.main__login .form__login--form .form__input span {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.main__login .form__login--form .form__input--img {
  background: url(../img/user.png);
  background-size: 25px 25px;
  background-position: center;
}
.main__login .form__login--form .form__input--show {
  background: url(../img/show.png);
  background-size: 25px 25px;
  background-position: center;
  cursor: pointer;
}
.main__login .form__login--form .disabled {
  display: none;
}

#login {
  background-color: #0759E6;
}

::placeholder {
  font-size: 1.7rem;
  color: black;
  font-family: "Nunito", sans-serif;
}

.submit {
  --widthA: 70%;
  background-color: #D1D3C4;
  cursor: pointer;
  padding-top: 20px;
  border-radius: 20px;
  width: 70%;
  height: 65px;
  color: black;
  font-weight: bold;
  font-size: 1.9rem;
  font-family: "Nunito", sans-serif;
  border: none;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  bottom: -45px;
  left: calc(50% - var(--widthA) / 2);
  transition: 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.submit:hover {
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.3);
}

.form__error {
  display: none;
  width: 90%;
  max-width: 200px;
  padding: 8px 0;
  height: auto;
  border-radius: 10px;
  background-color: #e83845;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form__error p {
  margin: 0;
  color: white;
  font-size: 1.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #DFE0DC inset;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

.header__home {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .header__home {
    display: none;
  }
}
.header__home--img {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home--img img {
  width: 80%;
}
.header__home--title {
  width: 20%;
  color: black;
  text-align: center;
  font-size: 3rem;
}
.header__home .profile {
  width: 20%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home .profile__circle {
  width: 50px;
  height: 50px;
  background-color: #043B9C;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.header__home .profile__circle--text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  user-select: none;
}
.header__home .profile__circle:hover {
  background-color: #0759E6;
}
.header__home .profile__info {
  width: 150px;
  height: 120px;
  position: absolute;
  bottom: -130px;
  right: 45%;
  border-radius: 15px;
  box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.62);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #DFE0DC;
  z-index: 2;
}
.header__home .profile__info a {
  width: 100%;
  height: 50%;
  color: black;
  font-size: 1.6rem;
  text-align: center;
  line-height: 60px;
  transition: 0.2s;
}
.header__home .profile__info a:hover {
  background-color: #D1D3C4;
}
.header__home .profile__info--edit {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.header__home .profile__info--close {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header__home--mobile {
  width: 100%;
  height: 150px;
  position: relative;
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__home--mobile {
    display: block;
  }
}
.header__home--mobile .img-mobile {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home--mobile .img-mobile img {
  width: 220px;
}
.header__home--mobile .img-mobile .menu {
  background-image: url(../img/menu.png);
  background-position: center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  position: absolute;
  right: 20px;
}
@media only screen and (max-width: 768px) {
  .header__home--mobile .img-mobile .menu {
    display: block;
  }
}
.header__home--mobile .img-mobile .return {
  position: absolute;
  left: 20px;
  background-image: url(../img/return.png);
  background-position: center;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__home--mobile .title-mobile {
  width: 100%;
  text-align: center;
}
.header__home--mobile .title-mobile h1 {
  font-size: 3rem;
  color: black;
}

.main__home {
  width: 100%;
  height: auto;
}
.main__home .cards {
  width: 90%;
  height: auto;
  display: flex;
  margin: 50px auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .main__home .cards {
    margin: 25px auto;
  }
}
.main__home .card {
  width: 60%;
  max-width: 580px;
  height: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.3s;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1290px) {
  .main__home .card {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .main__home .card {
    width: 90%;
    height: 200px;
  }
}
.main__home .card img {
  object-fit: cover;
  opacity: 0.4;
  transition: 0.3s;
}
.main__home .card--text {
  width: 100%;
  font-size: 2.6rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .main__home .card--text {
    font-size: 2rem;
  }
}
.main__home .card img:hover {
  transform: scale(1.1);
  opacity: 0.3;
}
.main__home .card:hover {
  box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.5);
}

.card--add {
  display: flex;
  justify-content: center;
  align-items: centers;
}
.card--add span {
  font-size: 2.6rem;
}
@media only screen and (max-width: 768px) {
  .card--add span {
    font-size: 2rem;
  }
}

.card--add__img {
  width: 40px;
  height: 40px;
  background: url(../img/add.png);
  background-size: 40px 40px;
  background-position: center;
  margin-right: 15px;
}
@media only screen and (max-width: 768px) {
  .card--add__img {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}

.footer__home {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 25px 0;
}
.footer__home--text {
  color: black;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .footer__home--text {
    font-size: 1.2rem;
  }
}

.options {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #043B9C;
  z-index: 2;
  display: none;
}
.options__header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.options__close {
  background-image: url(../img/xWhite.png);
  background-position: center;
  background-size: 25px 25px;
  margin-right: 10%;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
@media only screen and (max-width: 768px) {
  .options__close {
    display: block;
  }
}
.options__menu {
  width: 100%;
  height: 180px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.loaders {
  width: 100%;
  height: auto;
  padding: 50px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.loaderT {
  width: 90%;
  max-width: 200px;
  height: 220px;
  background: linear-gradient(0.25turn, transparent, #FFF, transparent), linear-gradient(#DDD, #DDD), linear-gradient(#DDD, #DDD), linear-gradient(#DDD, #DDD);
  background-color: #fff;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.3s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
  }
}
.main__media {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.main__media .classify {
  width: 25%;
  max-width: 380px;
  min-width: 290px;
  height: auto;
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 880px) {
  .main__media .classify {
    display: none;
  }
}
.main__media .classify .filter {
  width: 95%;
  min-width: 290px;
  height: auto;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.main__media .classify .filter__title {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 15px auto;
}
.main__media .classify .filter hr {
  width: 85%;
  margin-top: 15px;
}
.main__media .classify .filter__category {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.main__media .classify .filter__category hr {
  width: 100%;
}
.main__media .classify .filter__category--title {
  color: black;
  font-size: 2.2rem;
  font-weight: 600;
  justify-self: start;
  margin: 15px 0 10px 0;
}
.main__media .classify .filter__category .category {
  width: 90%;
  height: auto;
  align-self: center;
}
.main__media .classify .filter__category .category__option {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.main__media .classify .filter__category .category__option input {
  justify-self: flex-start;
  width: 15px;
  height: 18px;
}
.main__media .classify .filter__category .category__option input[type=radio] {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #F4F4F4;
  margin: 0;
  font: inherit;
  color: black;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.main__media .classify .filter__category .category__option input[type=radio]::before {
  content: "";
  width: 11px;
  height: 11px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 11px 11px #043B9C;
  border-radius: 3px;
}
.main__media .classify .filter__category .category__option input[type=radio]:checked::before {
  transform: scale(1);
}
.main__media .classify .filter__category .category__option label {
  width: 70%;
  color: black;
  font-size: 1.5rem;
  margin-left: 3%;
  line-height: 15px;
}
.main__media .classify .filter__category .category__option span {
  color: black;
  margin-left: auto;
  font-size: 1.2rem;
  width: 26px;
  height: 18px;
  border: 1.5px solid rgb(59, 59, 59);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main__media .hide {
  display: none;
}
.main__media .gallery {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 880px) {
  .main__media .gallery {
    width: 100%;
  }
}
.main__media .gallery .noinfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  display: none;
}
.main__media .gallery .noinfo__div {
  width: 80%;
  max-width: 300px;
  background-color: #DFE0DC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 25px;
  margin-top: 60px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.main__media .gallery .noinfo__div img {
  width: 80px;
}
.main__media .gallery .show__noinfo {
  display: none;
}
.main__media .gallery .noinfo__text {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin: 20px 0 0 0;
}
.main__media .media {
  margin: 20px auto;
  height: auto;
  column-count: 4;
  column-gap: 15px;
  width: 95%;
  max-width: 1400px;
}
@media only screen and (min-width: 1780px) {
  .main__media .media {
    column-count: 5;
    max-width: 1600px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main__media .media {
    column-count: 3;
    max-width: 800px;
  }
}
@media only screen and (max-width: 768px) {
  .main__media .media {
    column-count: 2;
    max-width: 600px;
  }
}
.main__media .media__img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
}
.main__media .media__img img {
  width: 100%;
  transition: 0.2s;
}
.main__media .media__img video {
  width: 100%;
  transition: 0.2s;
}
.main__media .media__img--button {
  position: absolute;
  right: 20px;
  top: 20px;
}
.main__media .media__img--button .download {
  width: 40px;
  height: 40px;
  background-color: #043B9C;
  display: none;
  border-radius: 10px;
  transition: 0.2s;
}
.main__media .media__img--button .download__img {
  width: 18px;
  height: 18px;
  background: url(../img/download.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__media .media__img--button .download:hover {
  background-color: #0759E6;
}
.main__media .media__img .favourite {
  width: 25px;
  height: 25px;
  position: absolute;
  display: none;
  left: 35px;
  top: 29px;
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.main__media .media__img:hover img {
  opacity: 0.4;
  cursor: zoom-in;
}
.main__media .media__img:hover video {
  opacity: 0.4;
  cursor: zoom-in;
}
.main__media .media__img:hover {
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.5);
}
.main__media .media__img:hover .download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__media .media__img:hover .favourite {
  display: flex;
}

.arrows {
  width: 100%;
  height: 50px;
  margin: 30px auto 20px auto;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.arrows .arrow {
  width: 46%;
  height: 65px;
  background-color: rgba(55, 55, 55, 0.7);
  border-radius: 8px;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
.arrows .arrow img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.arrows .arrow p {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin-left: 10px;
}
.arrows .arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.arrows .arrow-left {
  justify-content: flex-start;
  visibility: hidden;
}
.arrows .arrow-right {
  justify-content: flex-end;
}

.filter__button {
  width: 50%;
  max-width: 150px;
  padding: 0 25px;
  height: 50px;
  background-color: #043B9C;
  color: white;
  border-radius: 25px;
  border: none;
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 880px) {
  .filter__button {
    display: flex;
  }
}
.filter__button--img {
  background: url(../img/filter.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
}
.filter__button--text {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .title__small {
    font-size: 2.4rem;
  }
}

.filter__responsive {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #043B9C;
  display: none;
}
.filter__responsive__header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.filter__responsive .filter__close {
  background: url(../img/returnWhite.png);
  background-position: center;
  background-size: 40px 40px;
  margin-top: 50px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
@media only screen and (max-width: 768px) {
  .filter__responsive .filter__close {
    display: block;
  }
}
.filter__responsive .classify {
  width: 100%;
  max-width: 380px;
  min-width: 290px;
  margin: 0 auto;
  height: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__responsive .classify .filter {
  width: 95%;
  margin: 0 auto;
  min-width: 290px;
  height: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter__responsive .classify .filter__title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 15px auto;
}
.filter__responsive .classify .filter hr {
  width: 85%;
  margin-top: 15px;
}
.filter__responsive .classify .filter__category {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.filter__responsive .classify .filter__category--title {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  justify-self: start;
  margin: 15px 0 10px 0;
}
.filter__responsive .classify .filter__category .category {
  width: 90%;
  height: auto;
  align-self: center;
}
.filter__responsive .classify .filter__category .category__option {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.filter__responsive .classify .filter__category .category__option input {
  justify-self: flex-start;
  width: 15px;
  height: 18px;
}
.filter__responsive .classify .filter__category .category__option input[type=radio] {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #043B9C;
  margin: 0;
  font: inherit;
  color: rgb(134, 134, 134);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.filter__responsive .classify .filter__category .category__option input[type=radio]::before {
  content: "";
  width: 11px;
  height: 11px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 11px 11px rgb(255, 255, 255);
  border-radius: 3px;
}
.filter__responsive .classify .filter__category .category__option input[type=radio]:checked::before {
  transform: scale(1);
}
.filter__responsive .classify .filter__category .category__option label {
  width: 70%;
  color: white;
  font-size: 1.5rem;
  margin-left: 3%;
  line-height: 15px;
}
.filter__responsive .classify .filter__category .category__option span {
  color: white;
  margin-left: auto;
  font-size: 1.2rem;
  width: 26px;
  height: 18px;
  border: 1.5px solid rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal__section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.3s;
}

.modal {
  width: 60%;
  max-width: 900px;
  height: auto;
  padding: 20px 50px;
  background-color: #DFE0DC;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
@media only screen and (max-width: 768px) {
  .modal {
    width: 75%;
    padding: 20px 40px;
  }
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__header--title {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}
.modal__header--img {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: url(../img/x.png);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.modal__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.modal__content--img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .modal__content--img {
    width: 60%;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content--img {
    width: 100%;
    margin: 10px 0 25px 0;
  }
}
@media only screen and (min-width: 450px) and (max-width: 768px) and (orientation: portrait) {
  .modal__content--img {
    width: 50%;
    margin: 10px 0 25px 0;
  }
}
.modal__content--img img {
  width: 90%;
  border-radius: 10px;
}
.modal__content--img video {
  width: 90%;
  border-radius: 10px;
}
.modal__content--info {
  width: 50%;
  height: auto;
  color: black;
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .modal__content--info {
    align-items: center;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content--info {
    align-items: center;
    width: 100%;
  }
}
.modal__content--info .content__details {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.modal__content--info .content__description {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .modal__content--info .content__description {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content--info .content__description {
    text-align: center;
  }
}
.modal__content--info .content__date {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 0 40px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .modal__content--info .content__date {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .modal__content--info .content__date {
    text-align: center;
  }
}
.modal__content--info .content__buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.modal__content--info .content__download {
  width: 130px;
  height: 45px;
  background-color: #043B9C;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  color: white;
  align-self: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
.modal__content--info .content__edit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: center;
  border: none;
  background: url(../img/edit.png);
  background-size: 30px 30px;
  background-position: center;
}
.modal__content--info .content__download:hover {
  background-color: #0759E6;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.3s;
}

.category__option input[type=radio]:hover {
  cursor: pointer;
}

.category__option label:hover {
  cursor: pointer;
}

.modify {
  display: none;
  width: 75%;
  height: min-content;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
}
@media only screen and (max-width: 880px) {
  .modify {
    width: 100%;
  }
}
.modify .close__form {
  width: 20px;
  height: 20px;
  background: url(../img/X.png);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  cursor: pointer;
}
.modify__form {
  margin: 100px 0 20px 0;
  height: auto;
  width: 95%;
  max-width: 650px;
  position: relative;
  background-color: #DFE0DC;
  padding: 30px;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
@media only screen and (min-width: 1780px) {
  .modify__form {
    max-width: 750px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .modify__form {
    max-width: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .modify__form {
    max-width: 400px;
    margin: 60px 0;
  }
}
.modify__form--title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: black;
}
.modify .form__add--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modify .form__add--form .modify-media-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modify .form__add--form img {
  width: 50%;
  border-radius: 15px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .modify .form__add--form img {
    width: 70%;
  }
}
.modify .form__add--form video {
  width: 50%;
  border-radius: 15px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .modify .form__add--form video {
    width: 70%;
  }
}
.modify .form__add--form form {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modify .form__add--form .add__input {
  width: 82%;
  height: 40px;
  display: flex;
  margin-bottom: 30px;
  justify-content: start;
  align-items: center;
  border: solid 1px black;
  position: relative;
  padding: 0 15px 0 15px;
}
@media only screen and (max-width: 768px) {
  .modify .form__add--form .add__input {
    width: 95%;
  }
}
.modify .form__add--form .add__input input {
  width: 100%;
  border: none;
  font-size: 1.7rem;
  font-weight: 300;
  color: black;
  outline: none;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
}
.modify .form__add--form .add__input span {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.modify .form__add--form .add__input .input__option {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  outline: none;
}
.modify .form__add--form .date {
  width: 100%;
}
.modify .form__add--form .input__file {
  padding: 0;
}

.submit__update {
  --widthA: 40%;
  background-color: #043B9C;
  cursor: pointer;
  padding-top: 20px;
  border-radius: 20px;
  width: 40%;
  height: 65px;
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
  font-family: "Nunito", sans-serif;
  border: none;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  bottom: -45px;
  left: calc(25% - var(--widthA) / 2);
  transition: 0.2s;
}

.submit__update:hover {
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.3);
}

.submit__delete {
  --widthA: 40%;
  background-color: #e83845;
  cursor: pointer;
  padding-top: 20px;
  border-radius: 20px;
  width: 40%;
  height: 65px;
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
  font-family: "Nunito", sans-serif;
  border: none;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  bottom: -45px;
  right: calc(25% - var(--widthA) / 2);
  transition: 0.2s;
}

.submit__delete:hover {
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.3);
}

.card {
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.3s;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  object-fit: cover;
  opacity: 0.4;
  transition: 0.3s;
}
.card--text {
  width: 100%;
  font-size: 2.6rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
}
@media only screen and (max-width: 880px) {
  .card--text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 880px) {
  .addmedia span {
    font-size: 2rem;
  }
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.3;
}

.card:hover {
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.5);
}

.see__more {
  width: 35%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
}
.see__more p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #044bb6;
}
@media only screen and (max-width: 880px) {
  .see__more p {
    color: white;
  }
}
.see__more--img {
  background: url(../img/down-arrow.png);
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 880px) {
  .see__more--img {
    background: url(../img/down-arrowW.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.loaderText {
  position: relative;
  width: 75%;
  min-width: 200px;
  height: 130px;
  margin-top: 50px;
  padding: 15px;
  overflow: hidden;
  align-self: center;
  justify-self: start;
}

.loaderText:after {
  content: "";
  position: absolute;
  width: 62%;
  height: 72%;
  top: 15%;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 0.8s linear infinite;
}

.loaderText .wrapperText {
  width: 100%;
  height: 100%;
  position: relative;
}

.loaderText .wrapperText > div {
  background-color: #cacaca;
}

.loaderText .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loaderText .line-1 {
  position: absolute;
  top: 11px;
  height: 10px;
  width: 80%;
}

.loaderText .line-2 {
  position: absolute;
  top: 34px;
  height: 10px;
  width: 65%;
}

.loaderText .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loaderText .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

.loaderText .line-5 {
  position: absolute;
  top: 103px;
  left: 0px;
  height: 10px;
  width: 88%;
}

.loaderText .line-6 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 90%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.add {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
}
@media only screen and (max-width: 880px) {
  .add {
    width: 100%;
  }
}
.add__form {
  margin: 100px 0 20px 0;
  height: 560px;
  width: 95%;
  max-width: 650px;
  position: relative;
  background-color: #DFE0DC;
  padding: 30px;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
@media only screen and (min-width: 1780px) {
  .add__form {
    max-width: 750px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .add__form {
    max-width: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .add__form {
    max-width: 400px;
    margin: 60px 0;
  }
}
.add__form--title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: black;
}
.add .form__add--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add .form__add--form form {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add .form__add--form .add__input {
  width: 82%;
  height: 40px;
  display: flex;
  margin-bottom: 30px;
  justify-content: start;
  border: solid 1px black;
  position: relative;
  padding: 0 15px 0 15px;
}
@media only screen and (max-width: 768px) {
  .add .form__add--form .add__input {
    width: 95%;
  }
}
.add .form__add--form .add__input input {
  width: 100%;
  border: none;
  font-size: 1.7rem;
  font-weight: 300;
  color: black;
  outline: none;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.add .form__add--form .add__input span {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.add .form__add--form .add__input .input__option {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  outline: none;
}
.add .form__add--form .date {
  width: 100%;
  align-self: center;
}
.add .form__add--form .input__file {
  padding: 0;
}

.submit__add {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

.submit__:hover {
  box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.3);
}

input[type=file]::file-selector-button {
  background-color: #DFE0DC;
  color: #000;
  border: 0px;
  cursor: pointer;
  border-right: 1px solid black;
  padding: 10px 15px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  margin-right: 20px;
  transition: 0.5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #d2d2d2;
  border: 0px;
  border-right: 1px solid black;
}

.classify {
  display: flex;
  flex-direction: column;
}

.edit {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.edit__profile {
  width: 95%;
  max-width: 620px;
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit__profile img {
  width: 15%;
}
.edit__profile form {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 10%;
  margin-top: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .edit__profile form {
    padding: 0 5%;
  }
}
.edit__profile--input {
  width: 100%;
  height: 40px;
  margin-bottom: 22px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 28px;
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  background-color: #D9D9D9;
  color: black;
}
.edit__profile--input::placeholder {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: gray;
}
.edit__profile--save {
  width: 30%;
  height: 42px;
  background-color: #043B9C;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8rem;
  align-self: flex-end;
  font-family: "Nunito", sans-serif;
}
.edit__profile--save:hover {
  background-color: #0759E6;
}

#footer__edit {
  position: absolute;
  bottom: 10px;
}

.header__home .profile__info1 {
  width: 203px;
  height: 170px;
  position: absolute;
  bottom: -182px;
  right: 47%;
  border-radius: 15px;
  box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.62);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #dfe0dc;
  z-index: 2;
}

.header__home .profile__info1 a {
  width: 100%;
  height: 50%;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  transition: 0.2s;
}

.header__home .profile__info1 a:hover {
  background-color: #d1d3c4;
}

.header__home .profile__info1--edit {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header__home .profile__info1--close {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dashboard_mainPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  padding: 10rem;
}
@media only screen and (max-width: 768px) {
  .dashboard_mainPage {
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .dashboard_mainPage {
    padding: 5rem;
  }
}
.dashboard_mainPage--title {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .dashboard_mainPage--title {
    font-size: 3rem;
  }
}

.dashboard_card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.dashboard_card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.dashboard_table--text {
  width: auto;
  font-size: 4rem;
}
@media only screen and (max-width: 768px) {
  .dashboard_table--text {
    font-size: 2.5rem;
  }
}
.dashboard_table--text label {
  font-size: 1.3rem;
  margin: 1rem;
}
.dashboard_table--text input {
  font-size: 1.3rem;
}
.dashboard_table--text select {
  font-size: 1.1rem;
}
.dashboard_table--text option {
  font-size: 1.3rem;
}
.dashboard_table--text a {
  font-size: 1.2rem;
}
@media only screen and (max-width: 768px) {
  .dashboard_table--text a {
    font-size: 0.9rem;
  }
}
.dashboard_table--thead {
  font-size: 4rem;
}
@media only screen and (max-width: 768px) {
  .dashboard_table--thead {
    font-size: 2.9rem;
  }
}
.dashboard_table--tbody {
  text-align: left;
  font-size: 4rem;
}
@media only screen and (max-width: 768px) {
  .dashboard_table--tbody {
    font-size: 3rem;
  }
}

.table-responsive {
  overflow-x: auto;
}

.text-acciones {
  color: blue;
}
.text-on {
  color: #28a745;
  font-size: 90%;
}
.text-off {
  color: #dc3545;
  font-size: 90%;
}

.submit__accessKey {
  width: 100%;
  height: 30px;
  background-color: #043b9c;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.3rem;
  align-self: flex-end;
  font-family: "Nunito", sans-serif;
}

.submit__accessKey:hover {
  background-color: #0759e6;
}

.token_main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.token_section {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
}
@media only screen and (max-width: 880px) {
  .token_section {
    width: 100%;
  }
}
.token_section__form {
  margin: 70px 0 20px 0;
  height: auto;
  width: 100%;
  max-width: 650px;
  position: relative;
  background-color: #DFE0DC;
  padding: 30px;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
  color: black;
  text-align: center;
}
@media only screen and (min-width: 1780px) {
  .token_section__form {
    max-width: 850px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .token_section__form {
    max-width: 600px;
  }
}
@media only screen and (max-width: 768px) {
  .token_section__form {
    max-width: 600px;
    margin: 50px 10px;
  }
}
.token_section__form--title {
  font-size: 2.8rem;
  font-weight: 600;
}
.token_section__form--subtitle {
  font-size: 2rem;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .token_section__form--subtitle {
    font-size: 1.5rem;
  }
}
.token_section__form--user {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .token_section__form--user {
    font-size: 2rem;
  }
}
.token_section__form--key {
  font-size: 2.3rem;
  margin: 0;
}

.addCDC {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 880px) {
  .addCDC {
    width: 100%;
  }
}
.addCDC__form {
  margin: 0;
  height: 560px;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 10px;
}
@media only screen and (min-width: 1780px) {
  .addCDC__form {
    max-width: 850px;
  }
}
@media only screen and (max-width: 768px) {
  .addCDC__form {
    max-width: 700px;
    margin: 15px 0;
  }
}
.addCDC__form--title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: black;
}
.addCDC .form__addCDC--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addCDC .form__addCDC--form form {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addCDC .form__addCDC--form .addCDC__input {
  width: 82%;
  height: 40px;
  display: flex;
  margin-bottom: 30px;
  justify-content: start;
  border-radius: 10px;
  position: relative;
  background: #D9D9D9;
}
@media only screen and (max-width: 768px) {
  .addCDC .form__addCDC--form .addCDC__input {
    width: 85%;
  }
}
.addCDC .form__addCDC--form .addCDC__input input {
  width: 100%;
  border: none;
  font-size: 1.7rem;
  font-weight: 300;
  padding: 0 28px 0 28px;
  color: black;
  outline: none;
  font-family: "Nunito", sans-serif;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.addCDC .form__addCDC--form .addCDC__input input::-webkit-autofill,
.addCDC .form__addCDC--form .addCDC__input input::-webkit-autofill:hover,
.addCDC .form__addCDC--form .addCDC__input input::-webkit-autofill:focus,
.addCDC .form__addCDC--form .addCDC__input input::-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -webkit-text-fill-color: black;
  background-color: transparent;
  border-radius: 4px;
}
.addCDC .form__addCDC--form .addCDC__input .inputCDC2 {
  padding: 0 28px 0 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.addCDC .form__addCDC--form .addCDC__input input::placeholder {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: gray;
}

.inputCDC {
  background-color: #D9D9D9;
}

.inputCDC[type=file]::file-selector-button {
  background-color: #D9D9D9;
  color: #000;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  transition: 0.5s;
}

.inputCDC[type=file]::file-selector-button:hover {
  background-color: rgba(210, 210, 210, 0);
}

.submit__addCDC {
  width: 20%;
  height: 42px;
  background-color: #043B9C;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.8rem;
  align-self: flex-end;
  font-family: "Nunito", sans-serif;
  margin-right: 9%;
}

.submit__addCDC:hover {
  background-color: #0759e6;
}

.formRol {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  z-index: 1;
}
@media only screen and (max-width: 880px) {
  .formRol {
    width: 100%;
  }
}
.formRol__form {
  margin: 50px 0 20px 0;
  height: auto;
  width: 100%;
  max-width: 700px;
  position: relative;
  background-color: #dfe0dc;
  padding: 30px;
  box-shadow: 0px 0px 14px 7px rgba(0, 0, 0, 0.22);
  border-radius: 20px;
}
@media only screen and (min-width: 1780px) {
  .formRol__form {
    max-width: 750px;
  }
}
@media only screen and (max-width: 880px) {
  .formRol__form {
    max-width: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .formRol__form {
    max-width: 550px;
    margin: 40px 20px;
  }
}
.formRol__form--title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: black;
}
@media only screen and (max-width: 768px) {
  .formRol__form--title {
    font-size: 2rem;
  }
}
.formRol__form--subtitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}
@media only screen and (max-width: 768px) {
  .formRol__form--subtitle {
    font-size: 1.5rem;
  }
}
.formRol .form__formRol--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formRol .form__formRol--form form {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}
.formRol .form__formRol--form .formRol__input {
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  justify-content: start;
  font-family: "Nunito", sans-serif;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .formRol .form__formRol--form .formRol__input {
    width: 95%;
  }
}
.formRol .form__formRol--form .formRol__input label {
  padding: 10px;
  font-size: 1.7rem;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
}
.formRol .form__formRol--form .formRol__input select {
  display: block;
  width: 100%;
  margin-left: 2%;
  padding: 0.375rem 0.75rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.formRol .form__formRol--form .formRol__input select:focus {
  outline: #0d6efd;
  box-shadow: 0 0px 3px #0d6efd;
}
.formRol .form__formRol--form .formRol__input option {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #212529;
  background-color: #e9ecef;
}

.submit__saveRol {
  width: 30%;
  height: 30px;
  background-color: #043b9c;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.3rem;
  align-self: flex-end;
  font-family: "Nunito", sans-serif;
  margin-left: 70%;
}

.submit__saveRol:hover,
.submit__accessKey:hover {
  background-color: #0759e6;
}

/*# sourceMappingURL=app.css.map */
